@import url("./root.css");

html {
	background-color: var(--off-white-background);
}


/* Temporary */
* {
	border: solid red 1px;
}

body {
	height: 100svh;
	overflow-y: scroll;
}

main {
	border: solid blue 1px;
	height: 200svh;
}

.hidden {
	display: none !important;
}
/*  */


	section#header-section {
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

		div#header-section-wrapper {
			position: relative;
			width: 850px;
		}

			div#header-section-wrapper > nav {
				align-items: center;
				border-radius: 10px;
				display: flex;
				font-family: HaasGroteskDisplay;
				font-weight: 55;
				font-size: 15px;
				justify-content: space-between;
				margin-top: 40px;
				overflow: hidden;
				padding: 10px 30px;
				position: sticky;
				text-transform: uppercase;
			}

			hr#header-top-line, hr#header-bottom-line {
				border: 1px solid black;
				border-radius: 100px;
				visibility: hidden;
				margin: 8px 30px;
				margin-bottom: 16px;
			}

			hr#header-bottom-line {
				margin-top: 16px;
			}

				#header-section-wrapper > nav > div {
					position: relative;
					bottom: -40px;
				}

				div#about,
				div#work, 
				div#studios, 
				div#careers, 
				div#news, 
				div#contact {
					animation: onload-navigation;
					animation-duration:	1.25s;	
					animation-timing-function:	cubic-bezier(0.71, 0, 0, 1);
					animation-fill-mode: forwards;
				}
				div#about {
					animation-delay: var(--animation-navigation-onload-startTime);
				}
				div#work {
					animation-delay: calc(var(--animation-navigation-onload-startTime) + 0.08s);
				}
				div#studios {
					animation-delay: calc(var(--animation-navigation-onload-startTime) + 0.16s);
				}
				div#careers {
					animation-delay: calc(var(--animation-navigation-onload-startTime) + 0.24s);
				}
				div#news {
					animation-delay: calc(var(--animation-navigation-onload-startTime) + 0.32s);
				}
				div#contact {
					animation-delay: calc(var(--animation-navigation-onload-startTime) + 0.40s);
				}


@keyframes onload-navigation {

	100% {
		bottom: 0px;
	}
}



hr#header-top-line {
	animation: line-animation;
	animation-duration: 0.4s;
	animation-delay: var(--animation-topLine-startTime);
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	width: 0px;
}

hr#header-bottom-line {
	animation: line-animation;
	animation-duration: 0.4s;
	animation-delay: calc(var(--animation-topLine-startTime) + 0.4s);
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	width: 0px;
}

@keyframes line-animation {

	0% {
		visibility: visible;
	}

	100% {
		width: 788px;
		visibility: visible;
	}
}



#full-service {
	font-family: HaasGroteskDisplay;
	font-weight: 25;
	font-size: 2rem;
}

@keyframes headerText-animation {
	
	25% {
		font-weight: 35;
	}

	50% {
		font-weight: 45;
	}

	75% {
		font-weight: 55;
	}

	100% {
		font-weight: 65
	}
}

	svg#full-service{
		position: absolute;
		right: 30px;
	}

		text {
			font-family: HaasGroteskDisplay;
			font-weight: 25;
		}

			.full-service-text {
				stroke-width: 0;
				stroke: black;
				visibility: hidden;
				animation: fullService-stroke-animation;
				animation-duration: 0.5s;
				animation-fill-mode: forwards;
			}

@keyframes fullService-stroke-animation {

	0% {
		visibility: visible;
	}

	100% {
		stroke-width: 2.5;
		visibility: visible;
	}
}