:root {
	--off-white-background: #FFFFFA;
	--animation-navigation-onload-startTime: 1s;
	--animation-logo-scaleColor-startTime: 2s;
	--animation-topLine-startTime: 2.5s;
	--animation-fullService-stroke-startTime: 3s;
	
}

@font-face {
	font-family: HaasGroteskDisplay;
	font-weight: 25;
	src: url('../Resources/Fonts/HaasGrotDisp25XThin.otf');
}

@font-face {
	font-family: HaasGroteskDisplay;
	font-weight: 35;
	src: url('../Resources/Fonts/HaasGrotDisp35Thin.otf');
}

@font-face {
	font-family: HaasGroteskDisplay;
	font-weight: 45;
	src: url('../Resources/Fonts/HaasGrotDisp45Light.otf');
}

@font-face {
	font-family: HaasGroteskDisplay;
	font-weight: 55;
	src: url('../Resources/Fonts/HaasGrotDisp55Roman.otf');
}

@font-face {
	font-family: HaasGroteskDisplay;
	font-weight: 65;
	src: url('../Resources/Fonts/HaasGrotDisp65Medium.otf');
}

@font-face {
	font-family: HaasGroteskDisplay;
	font-weight: 75;
	src: url('../Resources/Fonts/HaasGrotDisp75Bold.otf');
}

html, body {
	padding: 0;
	margin: 0;
}