@import url('./root.css');

div#white64-logo {
	align-items: center;
	display: flex;
	justify-content: center;
}

	div#white64-logo > svg {
		height: 130px;
	}

		svg#white64-h, svg#white64-i, svg#white64-t, svg#white64-e {
			margin: 0px 7.5px;
		}

		svg#white64-4 {
			position: relative;
    		left: -2px;
		}




@keyframes scaleAnimation {

	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.15);
	}

	75% {
		transform: scale(0.9);
	}
	
	100% {
		transform: scale(1);
	}
}

		svg#white64-w, 
		svg#white64-h, 
		svg#white64-i, 
		svg#white64-t, 
		svg#white64-e, 
		svg#white64-6, 
		svg#white64-4  {
			animation: scaleAnimation;
			animation-duration: 0.35s;
		}


		svg#white64-w {
			animation-delay: var(--animation-logo-scaleColor-startTime);
		}

		svg#white64-h {
			animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.08s);
		}

		svg#white64-i {
			animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.16s);
		}

		svg#white64-t {
			animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.24s);
		}

		svg#white64-e {
			animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.32s);
		}

		svg#white64-6 {
			animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.40s);
		}

		svg#white64-4 {
			animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.48s);
		}





@keyframes colorAnimation {

	0% {
		fill: #F15A41;
	}

	16.66% {
		fill: #2B3D73;
	}

	33.32% {
		fill: #E82F63;
	}

	49.98% {
		fill: #F6B0CF;
	}

	66.64% {
		fill: #88C0F7;
	}

	83.3% {
		fill: #FFD371;
	}

	100% {
		fill: #000000;
	}
}

	path#white64-w-path,
	path#white64-h-path, 
	path#white64-i-path, 
	path#white64-t-path, 
	path#white64-e-path, 
	path#white64-6-path, 
	path#white64-4-path  {
		animation: colorAnimation;
		animation-duration: 0.5s;
		animation-timing-function: steps(1);
		animation-fill-mode:  forwards;
		fill: transparent;
	}

	path#white64-w-path {
		animation-delay: var(--animation-logo-scaleColor-startTime)
	}

	path#white64-h-path {
		animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.08s);
	}

	path#white64-i-path {
		animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.16s);
	}

	path#white64-t-path {
		animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.24s);
	}

	path#white64-e-path {
		animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.32s);
	}

	path#white64-6-path {
		animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.40s);
	}

	path#white64-4-path {
		animation-delay: calc(var(--animation-logo-scaleColor-startTime) + 0.48s);
	}