@import url('./fonts.css');

footer#footer {
	background-color: black;
}

	nav#footer-main {
		display: flex;
		flex-direction: column;
		margin: 0 20vw;
		max-width: 1000px;
	}

	@media (max-width: 550px) {

		nav#footer-main {
			margin: 0 10vw;
		}
	}

		div.footer-header {
			color: white;
			font-family: HaasGroteskDisplay;
			font-weight: 75;
			font-size: 80px;
			line-height: 80px;
			text-transform: uppercase;
		}

		div#footer-work {
			margin-left: 150px;
		}


		@media (min-width: 0px) and (max-width: 749px) {

			div.footer-header {
				font-size: 40px;
				line-height: 40px;
			}

			div#footer-work {
				margin-left: 75px;
			}
		}

		@media (min-width: 750px) and (max-width: 1000px){

			div.footer-header {
				font-size: 60px;
				line-height: 60px;
			}

			div#footer-work {
				margin-left: 110px;
			}
		}










/* Horizonatal Footer Line */
	hr#footer-horizontal-line {
		width: 100%;
		box-sizing: border-box;
		border-style: none;
		border: 0.5px solid #707070;
		border-radius: 100px;
		margin-top: 30px;
		margin-bottom: 0;
	}

	/* Footer Vertical Lines */
	hr.footer-vertical-line {
		box-sizing: border-box;
		border-style: none;
		border: 0.5px solid #707070;
		border-radius: 100px;
		height: 190px;
		margin-top: 0;
		margin-bottom: 0;
	}

	@media (max-width: 650px) {

		hr.footer-vertical-line {
			height: 160px;
		}
	}

	@media (max-width: 1000px) {

		hr#footer-vert-line-1 {
			display: none;
		}
	}



















/* Footer Components */
	nav#footer-components {
		display: flex;
		justify-content: space-between;
		position: relative;
		white-space: nowrap;
	}

		nav.footer-components {
			color: white;
			font-family: HaasGroteskDisplay;
			font-weight: 75;
			margin-top: 40px;
			text-transform: uppercase;
		}

		@media (max-width: 400px) {

			nav.footer-components {
				margin-top: 30px;
			}
		}





		/* Footer Components Headers */
		.footer-componenets-header {
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 20px;
		}

		@media (min-width: 0px) and (max-width: 650px) {

			.footer-componenets-header {
				font-size: 16px;
				line-height: 16px;
			}
		}

		




		/* Footer - AMIN Logo */
			svg#amin-logo {
				width: 150px;
			}

		@media (max-width: 650px) {

			svg#amin-logo {
				width: 120px;
			}
		}

			div#white64-2023 {
				font-size: 12px;
				line-height: 14px;
				margin-top: 10px;
			}

		@media (max-width: 1000px) {

			nav#footer-amin {
				align-items: flex-end;
				bottom: 0px;
				display: flex;
				justify-content: space-between;
				position: absolute;
				width: 100%;
			}
		}

			



		/* Footer Social Logos */
		div#footer-socials {
			display: flex;
			justify-content: space-around;
		}

		svg.footer-social-logo {
			height: 20px;
		}

		@media (min-width: 0px) and (max-width: 650px) {

			svg.footer-social-logo {
				height: 14px;
			}
		}






		/* Footer - Our Address */
			nav#footer-address {
				text-align: right;
			}

	









/* Subtext style */
.text-desktop1 {
	font-family: HaasGroteskDisplay;
	font-weight: 55;
	font-size: 14px;
	text-transform: none;
}

	@media (max-width: 650px) {

		.text-desktop1 {
			font-size: 10px;
		}
	}