
/* White64 Logo */
div#white64-logo {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: auto;
	position: relative;
	width: 126.49px;
	z-index: 1;
}

	div#white64-logo > svg 			{    height: 20.68px  }

	svg#white64-h, 
	svg#white64-i, 
	svg#white64-t, 
	svg#white64-e {    
				margin-left: auto;			
				margin-right: auto  
	}

	svg#white64-4 {   
				position: relative;		
				left: -1px;
				mix-blend-mode: difference;
	}

		path.white64-path {
			fill: black;
			
		}



	/* For Header: */

	/* Above 1400px 
		Use non-hamburger header with 14px font-size:
	*/
	
	/* Below 1400px,
		Usee mobile Hamburger Menu
		
	*/








/* White64 Top Left Logo Container */

div#white64-logo-container {
	display: flex;
	box-sizing: border-box;
    flex-direction: column;
	height: inherit;
	left: 0;
    justify-content: space-evenly;
}

	/* For Devices above 1200px width */
	@media (min-width: 1200px) {

		div#white64-logo-container {
			position: absolute;
		}		
	}











/* Rainbow Line in the White64 Logo Container*/

div#rainbow-line {
	display: flex;
	width: auto;
	height: 5px;
}

	div.line-color {	flex-grow: 1}

	div#red {		background-color: #FF130C	}
	div#orange {	background-color: #FF7B00	}
	div#yellow {	background-color: #FFB300	}
	div#green {		background-color: #5FC200	}
	div#blue {		background-color: #008CE0	}



@media (min-width: 500px) {

	div#white64-logo-container		{    width: 200px  }
}

@media (max-width: 499px) {

	div#white64-logo-container 		{    width: 152.52px  }
}
